<div class="rightpage">
    <div class="toolbar">
        <!-- <Add /> -->
        <%- include('components/add')%>
        <!-- <Colors /> -->
        <%- include('components/colors')%>
        <!-- <CharacterFeatures /> -->
        <%- include('components/characterFeatures')%>
        <!-- <ToolbarSingle text="12 ▾" /> -->
        <div class="TBS-Box">
            <div class="TBS-Inner">12 ▾</div> <!-- drop down-->
        </div>

        <!-- <Alignment /> -->
        <%- include('components/alignment')%>
        <!-- <NightMode /> -->
        <%- include('components/nightmode')%>
    </div>
    <br>

    <form>
        <div class="text">
            <Header />
            <h2> <textarea class="form-control" id="text" rows="1" placeholder="Note Title"></textarea></h2>

            <p>
                <textarea class="form-control" id="text2" rows="10"></textarea>
            </p>

        </div>


        <img class="photo" id="blah" src="#" alt="" />


        <div class="button">
            <div class="Btn-Box addNew">
                <div>
                    <!-- <img class="Btn-Icon" src="/styles/images/plus.png" alt="addNew"> -->
                    <input class="Btn-Icon" type="image" src="/styles/images/plus.png" border="0" alt="Submit" />
                </div>

            </div>
        </div>

    </form>
</div>

<script>
    // save notes function
    window.onbeforeunload = function () {
        $('textarea').each(function () {
            var id = $(this).attr('id');
            var value = $(this).val();
            localStorage.setItem(id, value);
        });
    }
    window.onload = function () {
        $('textarea').each(function () {
            var id = $(this).attr('id');
            var text2 = localStorage.getItem(id);
            if (text2 !== null) $('#' + id).val(text2);
        });
    }

    // add picture
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(300)
                    .height(300);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    // add file
    // function readURL(input) {
    //     if (input.files && input.files[0]) {
    //         var reader = new FileReader();

    //         reader.onload = function (e) {
    //             $('#file')
    //                 .attr('src', e.target.result)
    //                 .width(300)
    //                 .height(300);
    //         };

    //         reader.readAsDataURL(input.files[0]);
    //     }
    // }


</script>